<!-- <app-menuduplicate></app-menuduplicate> -->

<div style="width: 200px;">
  <div style="height: 40px;"></div>
  <input type="text" [(ngModel)]="display" class="calculator-screen"  value="" maxlength="20" />
  <br><br>
  <mat-label>{{display}}</mat-label>
  <mat-label>{{displaySign}}</mat-label>



  <mat-grid-list cols="4" rowHeight="50px" class="button">
    <mat-grid-tile style="background-color:white;" cols="4" rows="1">

      <button mat-icon-button style="width: 80%; height: 80%; background-color: tomato"
        (click)="cancelAll()">AC</button>


    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="cancelClicked()">C</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color:white;">


      
      <button mat-icon-button style="width: 80%; height: 80%" (click)="backClick() ">
        <mat-icon  ><img src="../assets/img/backspace.png" style=" width: 80%; height: 80%;background:transparent"></mat-icon>
      
      </button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="signClicked('%')">%</button>

    </mat-grid-tile>
    <mat-grid-tile style="background-color:white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(1)">1</button>

    </mat-grid-tile>


    <mat-grid-tile style="background-color:white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(2)">2</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(3)">3</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="signClicked('/')">/</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color:white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(4)">4</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color:white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(5)">5</button>

    </mat-grid-tile>



    <mat-grid-tile style="background-color:white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(6)">6</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="signClicked('*')">X</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(7)">7</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(8)">8</button>

    </mat-grid-tile>



    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(9)">9</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="signClicked('+')">+</button>

    </mat-grid-tile>


    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="plusminusClicked()">&#177;</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="numberClicked(0)">0</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%"(click)=" decimalClicked('.')">.</button>

    </mat-grid-tile>








    <mat-grid-tile style="background-color: white;">

      <button mat-icon-button style="width: 80%; height: 80%" (click)="signClicked('-')">-</button>

    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;"  colspan="2">
    
      <button mat-button style="width: 80%; height: 80%" (click)="signClicked('=')">=</button>
    
    </mat-grid-tile>


    <mat-grid-tile style="background-color: white;" colspan="2">

      <button mat-button style="width: 80%; height: 80%; background-color: lightblue"
        (click)="numberClicked(1)">OK</button>

    </mat-grid-tile>

  </mat-grid-list>

</div>